<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tecsul.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>588ED4AD59DE81612C578479445245DF50E34F94</string>
				<key>dateExpires</key>
				<string>31/01/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>588ED4AD59DE81612C578479445245DF50E34F94</string>
						<key>dateExpires</key>
						<string>31/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M4437JJR35</string>
						<key>name</key>
						<string>Geovane Ferreira</string>
					</dict>
					<key>versionNumber</key>
					<string>1.10.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>588ED4AD59DE81612C578479445245DF50E34F94</string>
						<key>dateExpires</key>
						<string>31/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M4437JJR35</string>
						<key>name</key>
						<string>Geovane Ferreira</string>
					</dict>
					<key>versionNumber</key>
					<string>1.10.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>588ED4AD59DE81612C578479445245DF50E34F94</string>
						<key>dateExpires</key>
						<string>31/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M4437JJR35</string>
						<key>name</key>
						<string>Geovane Ferreira</string>
					</dict>
					<key>versionNumber</key>
					<string>1.10.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>588ED4AD59DE81612C578479445245DF50E34F94</string>
						<key>dateExpires</key>
						<string>31/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M4437JJR35</string>
						<key>name</key>
						<string>Geovane Ferreira</string>
					</dict>
					<key>versionNumber</key>
					<string>1.10.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>588ED4AD59DE81612C578479445245DF50E34F94</string>
						<key>dateExpires</key>
						<string>31/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M4437JJR35</string>
						<key>name</key>
						<string>Geovane Ferreira</string>
					</dict>
					<key>versionNumber</key>
					<string>1.10.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>588ED4AD59DE81612C578479445245DF50E34F94</string>
						<key>dateExpires</key>
						<string>31/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M4437JJR35</string>
						<key>name</key>
						<string>Geovane Ferreira</string>
					</dict>
					<key>versionNumber</key>
					<string>1.10.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>588ED4AD59DE81612C578479445245DF50E34F94</string>
						<key>dateExpires</key>
						<string>31/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M4437JJR35</string>
						<key>name</key>
						<string>Geovane Ferreira</string>
					</dict>
					<key>versionNumber</key>
					<string>1.10.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>588ED4AD59DE81612C578479445245DF50E34F94</string>
						<key>dateExpires</key>
						<string>31/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M4437JJR35</string>
						<key>name</key>
						<string>Geovane Ferreira</string>
					</dict>
					<key>versionNumber</key>
					<string>1.10.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>588ED4AD59DE81612C578479445245DF50E34F94</string>
						<key>dateExpires</key>
						<string>31/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TinyConstraints.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M4437JJR35</string>
						<key>name</key>
						<string>Geovane Ferreira</string>
					</dict>
					<key>versionNumber</key>
					<string>1.10.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>588ED4AD59DE81612C578479445245DF50E34F94</string>
						<key>dateExpires</key>
						<string>31/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M4437JJR35</string>
						<key>name</key>
						<string>Geovane Ferreira</string>
					</dict>
					<key>versionNumber</key>
					<string>1.10.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7k</string>
						<string>arm64_32</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>588ED4AD59DE81612C578479445245DF50E34F94</string>
						<key>dateExpires</key>
						<string>31/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>armv7k</string>
								<string>arm64_32</string>
							</array>
							<key>bitcode</key>
							<false/>
							<key>buildNumber</key>
							<string>2</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>588ED4AD59DE81612C578479445245DF50E34F94</string>
								<key>dateExpires</key>
								<string>31/01/22</string>
								<key>type</key>
								<string>Apple Distribution</string>
							</dict>
							<key>entitlements</key>
							<dict>
								<key>application-identifier</key>
								<string>M4437JJR35.gvf.Tracker.watchkitapp.watchkitextension</string>
								<key>beta-reports-active</key>
								<true/>
								<key>com.apple.developer.team-identifier</key>
								<string>M4437JJR35</string>
								<key>get-task-allow</key>
								<false/>
								<key>keychain-access-groups</key>
								<array>
									<string>M4437JJR35.gvf.Tracker.watchkitapp.watchkitextension</string>
								</array>
							</dict>
							<key>name</key>
							<string>watchTracker Extension.appex</string>
							<key>profile</key>
							<dict>
								<key>UUID</key>
								<string>12a890d6-f21a-4795-90d0-6c92d8c05bc5</string>
								<key>dateExpires</key>
								<string>01/10/22</string>
								<key>name</key>
								<string>iOS Team Store Provisioning Profile: gvf.Tracker.watchkitapp.watchkitextension</string>
							</dict>
							<key>symbols</key>
							<true/>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>M4437JJR35</string>
								<key>name</key>
								<string>Geovane Ferreira</string>
							</dict>
							<key>versionNumber</key>
							<string>1.10.10</string>
						</dict>
					</array>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>M4437JJR35.gvf.Tracker.watchkitapp</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>M4437JJR35</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>M4437JJR35.gvf.Tracker.watchkitapp</string>
						</array>
					</dict>
					<key>name</key>
					<string>watchTracker.app</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>4ea2f547-a730-4928-8540-e3a1c225957c</string>
						<key>dateExpires</key>
						<string>01/10/22</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: gvf.Tracker.watchkitapp</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M4437JJR35</string>
						<key>name</key>
						<string>Geovane Ferreira</string>
					</dict>
					<key>versionNumber</key>
					<string>1.10.10</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>M4437JJR35.gvf.Tracker</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>M4437JJR35</string>
				<key>com.apple.developer.usernotifications.critical-alerts</key>
				<true/>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>M4437JJR35.gvf.Tracker</string>
				</array>
			</dict>
			<key>name</key>
			<string>Tecsul.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8aff56ef-a1f6-46a0-8b6c-7d28ef52f4f2</string>
				<key>dateExpires</key>
				<string>31/01/22</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: gvf.Tracker</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>M4437JJR35</string>
				<key>name</key>
				<string>Geovane Ferreira</string>
			</dict>
			<key>versionNumber</key>
			<string>1.10.10</string>
		</dict>
	</array>
</dict>
</plist>
